<web-app>

    <servlet>
        <servlet-name>armstrong</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>armstrong</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

</web-app>
